.services img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  padding: 2rem 0;
  object-fit: cover;
  object-position: top;
}

.section_heading {
  text-align: center;
  padding-bottom: 1rem;
}
.section_heading span {
  color: #06d5e7;
}

.services {
  margin: auto 15rem;
}
.services p {
  text-align: center;
  font-size: large;
  font-weight: 600;
  margin: 2rem 0 3rem 0;
}
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  grid-row-gap: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

.services ion-icon {
  font-size: 6rem;
  color: #019caa;
  padding: 1rem 0;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.content {
  padding: 2rem 0;
}

@media only screen and (max-width: 1430px) {
  .services {
    margin: auto 7rem;
  }
}
@media only screen and (max-width: 865px) {
  .services {
    margin: auto 2rem;
  }
  .service {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .content h2 {
    font-size: medium;
  }
}
@media only screen and (max-width: 555px) {
  .services {
    margin: auto 1rem;
  }
  .services ion-icon {
    font-size: 3rem;
    padding: 0;
  }
  .content {
    padding: 0;
  }
  .services p {
    margin: 0.5rem 0 0.7rem 0;
  }
  .service {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .content h2 {
    font-size: medium;
  }
}
